@mixin responsive($width) {
  @if $width == wide-screens {
    @media only screen and (max-width: $width-large) { @content; }
  }
  @else if $width == medium-screens {
    @media only screen and (max-width: $width-medium) { @content; }
  }
  @else if $width == small-screens {
    @media only screen and (max-width: $width-small) { @content; }
  }
}

@mixin title-style($color: $color-accent, $background: transparent) {
  font: bold 20px $font-sans;
  text-transform: uppercase;
  color: $color;
  background: $background;
}

@mixin rounded($radius) {
  border-radius: $radius;
}

@mixin shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

@mixin shadow-inset($x, $y, $blur, $color) {
  box-shadow: inset $x $y $blur $color;
}

@mixin transition($property) {
  transition: $property 0.15s ease;
}

@mixin box-sizing {
  box-sizing: border-box;
}

@mixin linear-gradient($from, $to) {
  background-color: $to;
  background-image: -webkit-linear-gradient($from, $to);
}
