$color-main: #333;      // black
$color-light: #999;     // grey
$color-accent: #ea4c89; // pink
$color-accent2: #9c3;   // green
$color-links: #39c;     // blue

$font-sans: $helvetica;
$font-serif: $georgia;
