$visual-grid: true;

@import 'bourbon/bourbon';
@import 'neat/neat';


a {
  font-weight: bold;
  text-decoration: none;
  color: red;
  border-bottom: 1px solid red;

  &:hover {
    color: maroon;
    border-color: maroon;
  }
}

body {
  font: 100%/1.5 $georgia;
}

main {
  @include outer-container;
}

header[role="banner"] {
  margin: 20px 0 30px 0;
  border-bottom: 4px solid #333;

  #logo {
    float: left;
    margin: 0 20px 0 0;

    img {
      display: block;
      opacity: 0.95;
    }
  }

  h1 {
    padding: 15px 0;
    line-height: 1;
    font: {
      size: 54px;
      family: $helvetica;
      weight: bold;
    }
  }
}

section {
  aside {
    @include span-columns(3);
  }
  article {
    @include span-columns(9);
  }
}

li {
  color: blue;

  &.alert {
    color: red;
  }
  &.success {
    color: green;
  }
}

section.main p {
  font-size: 18px;

  body.store & {
    font-size: 16px;
  }
}
